#katalog{
	width:960px;
	text-align:center;
}
.main-katalog{
	width:inherit;
	text-align:center;
	position: fix;
}
#wrapper-olahraga{
	text-align:center;
	float:left;
		margin-left:20px;

}
#wrapper-seni{
	float:left;
	margin-left:20px;
	text-align:center;
}
#wrapper-teknik{
	float:left;
	margin-left:20px;
	text-align:center;
}
#wrapper-science{
	float:left;
	margin-left:20px;
	text-align:center;
}
#wrapper-novel{
	float:left;
	margin-left:20px;
	text-align:center;
}

.olahraga{
	float:left;
	margin-left:20px;
	text-align:center;
	width:150px;
}
.olahraga img{
	width:150px;
	height:200px;
}