/* Body
================================================== */
body {
	margin: 0;
	padding: 0;
	color: #666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.4em; 
	background-color: #fff; 
	background-position: top;
	background-repeat: repeat-x;
}

#subpage { background-image: url(../images/blog_header.png) }

/* Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-weight:400;
  color: #333;
  padding: 0;
  margin: 0 0 10px 0;
  text-rendering: optimizeLegibility;
}

h1 { font-size:32px }
h2 { font-size:26px; margin-bottom: 30px; line-height: 20px; }
h3 { font-size:20px }
h4 { font-size:18px }
h5 { font-size:16px }
h6 { font-size:12px }

/* Other */
.left { float:left }
.right { float:right }
.clear { clear: both }
.h30 { height: 30px }
.h60 { height: 60px }

img { margin: 0; padding: 0; border: 0 }
.img_border { border: 1px solid #999; background: #fff; padding: 3px; }
.img_border_b { border: 1px solid #999; background: #fff; padding: 6px }
.img_nom { display: block; margin-bottom: 15px }
.img_fl { float: left; display: block; margin: 1px 20px 8px 0 }
.img_fr { float: right; margin: 1px 0 8px 20px }

p { margin: 0 0 10px 0; padding: 0 }
em { color: #333 }
hr { margin-bottom: 40px; padding-top: 20px; border: none; border-bottom: 1px solid #ccc }

ul.nobullet { margin: 0; padding: 0; list-style: none }
ul.nobullet li { margin: 0; padding: 0 }

ul.list_bullet { margin: 10px 0 10px 15px; padding: 0; list-style: none }
ul.list_bullet li { color:#555; margin: 0 0 7px 0; padding: 0 0 0 20px; background: url(../images/bullet.png) no-repeat scroll 0 5px  }
ul.list_bullet li a { color: #555; font-weight: normal; text-decoration: none }
ul.list_bullet li a:hover { color: #555 }

td label{ text-align: left; }

/* Links
================================================== */
a {
  text-decoration: none;
  -webkit-transition: color .2s ease-in-out;
     -moz-transition: color .2s ease-in-out;
          transition: color .2s ease-in-out;
}
a:link, a:visited { color:#76a33b; text-decoration: none}
a:hover { color: #F40034;}
a:hover,a:active { outline:none }

/*  Layout
================================================== */
#blog_wrapper{
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

#blog_header{
	height: 80px;
	padding: 30px 70px 20px 70px;
}

#blog_main{
	clear: both;
	width: 960px;
	margin: 0 auto 40px;
}

#blog_bottom_wrapper{
	width: 100%;
	background: #646464 url(../images/blog_bottom.png) top repeat-x;
}

#blog_bottom{
	width: 960px;
	margin: 0 auto;
	padding: 20px 10px 0;
	color: #ccc
}

#blog_footer_wrapper {
	width: 100%;
	background: url(../images/blog_footer.png) top repeat-x
}
#blog_footer {
	width: 960px;
	margin: 0 auto;
	padding: 10px 10px 10px;
	text-align: center
}
#blog_content{
	width: 760px;
}
#blog_sidebar{
	width: 200px;
}

/* Containers to keep content to a set width */

.nav,
.art-body-inner,
.footer,
.art-list,
.abt,
.fourohfour {
  position: relative;
  margin: 0 auto;
}

/*  LOGO
================================================== */
#logo {
  float: left;
  padding: 20px 0 0 0;
}
#logo h1{
  font-family: "proxima-nova", "helvetica neue", "helvetica", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}
#logo h1 {
  height: 30px;
  margin-left: 0px;
  letter-spacing: 1px;
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
}
#logo h1 span{
  color: #76a33b !important;
}

/*  Sidebar
================================================== */
#blog_sidebar h3 {
	margin-bottom: 15px
}

.sidebar_section {
	margin-bottom: 40px;
}

.sidebar_section_bg {
	padding: 20px;
	background: #f3f3f3
}
.sidebar_link_list {
	margin: 0;
	padding: 0;
	list-style: none
}
.sidebar_link_list li {
	margin: 0;
	padding: 10px;
	border-bottom: 1px dashed #fff
}

/*  Menu
================================================== */
#menu{
	float: right;
}

/*  404 page
================================================== */
.fourohfour {
  padding: 240px 0 100px;
  text-align: center;
}

/*  Code
================================================== */

code, tt {
background: #ededee;
color: #3C4043;
font-size: 90%;
padding: 1px 3px;
}

pre {
  width: 92%;
  overflow: auto;
  margin: 2rem 0;
  padding: 1rem 0.8rem 1rem 1.2rem;
  color: #3f3b36;
  border: 1px solid #ccc;
  border-left: 1rem solid #ccc;
  font: lighter 1.2rem/2rem monospace;
  background: url(/assets/img/pre.png) repeat 0 -0.9rem;
  background-size: 1px 4rem;
}

pre code, tt {
font-size: inherit;
white-space: -moz-pre-wrap;
white-space: pre-wrap;
background: transparent;
border: none;
padding: 0;
}


.gist {
	font-size: 14px;
}

/*  Misc
================================================== */
::selection {
  background: #000;
  color: #fff;
}
::-moz-selection {
  background: #000;
  color: #fff;
}
img.left {
  float: left;
  margin-right: 20px;
}
img.right {
  float: right;
  margin-left: 20px;
}
/* Clearfixing pile */
.nav:before,
.art-body-inner:before,
.footer:before,
.art-list:before {
  content:"";
  display:table;
}
.nav:after,
.art-body-inner:after,
.footer:after,
.art-list:after {
  clear:both;
}
.nav,
.art-body-inner,
.footer,
.art-list {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


@-webkit-keyframes le-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes le-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* FORM */

#contact-area {
  width: 600px;
  margin-top: 25px;
<<<<<<< HEAD
  margin-bottom: 100px;
=======
>>>>>>> 995cea6f7f68cf98b3a33285204a120951e7c074
}

#contact-area input, #contact-area textarea {
  padding: 5px;
  width: 471px;
  font-family: Helvetica, sans-serif;
  margin: 0px 0px 10px 0px;
  border: 2px solid #ccc;
}

#contact-area textarea {
  height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
  border: 2px solid #900;
}

#contact-area input.submit-button {
  width: 100px;
  
}
.input_form{
	width: 400px;
}

label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 100px;
  padding-top: 5px;
}

/* Pagingination */
.paging { margin: 0 0 20px; padding: 0 }
.paging ul { margin: 0; padding: 0; list-style: none }
.paging ul li { margin: 0; padding: 0; display: inline }

.paging ul li a { float: left; 
	display: block; 
	color: #666; 
	text-decoration: none; 
	margin-right: 5px; 
	padding: 5px 10px; 
	background: #ebe7e4; 
	border: 1px solid #d6d0cc;
}

.paging ul li a:hover { color: #fff; background: #91c63e; border: 1px solid #5f8c19 }

/*  Article
================================================== */
.art {
  margin-top: -131px;
}
/* Header */
.art-header {
  height: 300px;
  /* Background image is defined in the post */
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
}
/* Contains the time, title and subtitle for an article */
.art-header-inner {
<<<<<<< HEAD
  position: relative;
=======
  position: fixed;
>>>>>>> 995cea6f7f68cf98b3a33285204a120951e7c074
  top: 300px;
  left: 50%;
}
.art-time,
.art-title,
.art-subtitle {
  text-align: center;
  text-transform: uppercase;
}
.art-time {
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 4px;
}
.art-title {
  font-size: 100px;
  line-height: .9;
  letter-spacing: -2px;
}
.art-subtitle {
  margin-top: 4px;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 4px;
}

/* If small header, make few adjustments */
.small .art-title {
  font-size: 70px;
  line-height: 65px;
}
.small.art-header-inner {
  top: 320px;
}

/* Body */
.art-body {
  position: relative;
  width: 100%;
  background: #fff;
}
.art-body-inner {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  max-width: 640px;
  padding: 80px 0 50px;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.5;
<<<<<<< HEAD
  position: relative;
  bottom: 100px;
=======
>>>>>>> 995cea6f7f68cf98b3a33285204a120951e7c074
}
.art-body-inner a:hover {
  border-bottom: 1px solid #F40034;
  padding-bottom:2px;
}
.art-body-inner ul,
.art-body-inner ol { /* For lists in the article body */
  margin-bottom: 26px;
}
.art-body-inner ul li {
  list-style: disc;
}

.art-body-inner mark {
    background-color: #fdffb6;
    padding: 2px;
    -webkit-box-shadow: #fdffb6 0 0 5px;
    -moz-box-shadow: #fdffb6 0 0 5px;
    box-shadow: #fdffb6 0 0 5px;
}

.art-body-inner blockquote {
  font-size: 16px;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.art-body-inner blockquote p:first-child:before {
  color: #ccc;
  content: "“";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.art-body-inner blockquote p {
  margin-bottom: 1.5em;
}

.art-body-inner blockquote p:last-child {
  margin-bottom: 0;
}


.dropcap { /* First character on articles */
  float: left;
  margin: 47px 10px 20px 0;
  font-size: 100px;
  line-height: 0;
}
.art-subhead { /* Subheads are used to break up sections of an article */
  margin: 60px 0 15px;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 3px;
}
.callout { /* Callouts are like large pullquotes */
  font-weight: bold;
}
.art-body-inner img {
  max-width: 100%;
  max-height: 600px;
  margin-bottom: 26px;
}
.art-body-inner img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.art-body-inner .art-reference {
  font-size: 80%;
  color: #999;
  margin-top: 50px;
}

/* For simple, white background posts */
.simple .art-body {
  background: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}


/*  List of Articles
================================================== */
.art-list {
  padding: 0 0 0;
}
.art-list-body {
  position: relative;
  overflow: hidden;
<<<<<<< HEAD
  bottom: 100px;
=======
>>>>>>> 995cea6f7f68cf98b3a33285204a120951e7c074
}
.art-list-item {
  padding: 40px 0;
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.art-list-item:last-child {
  border-bottom: none;
}
.art-list-title {
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
}
.art-list-item-title-and-time {
  float: left;
  width: 30%;
  margin-bottom: 10px;
}
.art-list-time {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #999;
}
.art-list-title a {
  color: #76a33b;
}
.art-list-title a:hover {
  color: #F40034;
}
.art-list-item p {
  width: 65%;
  float: left;
  margin-left: 5%;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}
.alter_link{
  width: 65%;
  float: left;
  margin-left: 5%;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}

/* TABLE */
table.gridtable {
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}